.header {
	& .container {
		background-color: $white;
	}

	& img {
		// display: block;
		margin: 20px auto;
		width: 20px;
		height: 20;
	}
	// @media only screen and (max-width: #{$global-breakpoint}) {
	// 	& img {
	// 		display: block!important;
	// 		margin: 20px auto!important !important;
	// 		width: 89px!important;
	// 		height: auto!important;
	// 	}
	// }
}
