<wrapper class="footer-address">
  <container>
    <center>
      <spacer size="45"></spacer>
        <a href=""><img src="https://i.imgur.com/wmGKYNl.jpg" alt="Glen's Garden Market"></a>
        <h8 class="text-center">Address and Hours:</h8>
        <p class="text-center">
          2001 S St NW </br>
          Washington, DC 20009
        </p>
        <p class="text-center">
          Mon-Fri : 8:00 am – 10:00 pm </br>
          Sat-Sun: 9:00 am – 9:00 pm
        </p>
        <p class="text-center">
          (202) 588-5698
        </p>
    </center>
  </container>
</wrapper>


<wrapper class="footer">
  <container>
    <spacer size="10"></spacer>
    <center>
      <menu class="small-vertical">
        <item href="https://www.glensgardenmarket.com/" target="_blank">© 2019 Glen's Garden Market</item>
      </menu>
    </center>
  </container>
</wrapper>

<spacer size="10"></spacer>
