<wrapper class="headlines">
  <container>
    <spacer size="40"></spacer>
    <row>
      <columns>
        <h1>Meet us for lunch?</h1>
      </columns>
    </row>
    <spacer size="40"></spacer>
  </container>
</wrapper>

<wrapper class="paragraphs">
  <container>
    <img src="{{ root }}/assets/img/salad.jpeg" alt="Let's eat a salad">
    <spacer size="20"></spacer>
  </container>
</wrapper>

<wrapper class="paragraphs">
  <container>
    <h2>Sonne works. <br>But only if you use it. </h2>
    <spacer size="20"></spacer>
    <p>Complete your order with a few clicks,and start perfecting and protecting your skin in just days.</p>
    <spacer size="30"></spacer>
  </container>
</wrapper>

<wrapper class="buttons">
  <container>
    <row class="collapse">
      <columns large="2" small="1"></columns>
      <columns><button class="primary expand cta big" href="{{ button_1_link }}">{{ button_1_copy }}</button></columns>
      <columns large="2" small="1"></columns>
    </row>
    <row>
      <columns>
        <spacer size="10"></spacer>
        <center>
          <p class="text-center">Use Code “EMAIL25” for $25 off your cart.</p>
          <small>Free shipping. No commitment required. <br>*Limited memberships available. </small>
        </center>
      </columns>
    </row>
    <spacer size="20"></spacer>
  </container>
</wrapper>
